.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Globleheader{
  height: 133px;
  background-color:;
  width: 100%;
}
.Header_top{
    height: 30px;
    line-height: 26px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    color: #444444;
    font-family: sans-serif;
    position: relative;
    bottom: 0px;
    background-color:white;
}
.Site_section{
  width:1048px;
  max-height: 29px;
  color: #444444;
  border-right: 1px solid #e7e7e7;
  background-color: ;
}
.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid gray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  bottom: 2px;
  opacity: 0.3;
}
.sites1{
    max-height: 29px;
    text-align: center;
    position:absolute; 
    left:22px; 
    bottom: 0px;
    border-right: 1px solid #e7e7e7;
    padding-right:22px;
    font-size: 12px;
}
.Employee{
   max-height: 29px;
  border-right:1px solid #e7e7e7;
  border-left:1px solid #e7e7e7;
  text-align: center;
  padding-right: 2px;
  padding-left: 8px;
  background-color:;
  width: 100px;
}
#text_employee{
  font-size: 12px;
  position:relative; 
    left:0px; 
    top:4px;
}
.Store{
   max-height: 29px;
  border-right:1px solid #e7e7e7;
  padding-right: 0px;
  padding-left: 0px;
  background-color: ;
  width: 350px;
}
#text_store{
  font-size: 12px;
  position:relative; 
    left:0px; 
    top:4px;
}
#primaryStoreName{
    font-size: 15px;
    font-family: bold;
    position:relative; 
    left:0px; 
    top:4px;
}

#primaryStoreTimings{
  font-size: 12px;
  padding-left: 24px;
  position:relative; 
    left:0px; 
    top:4px;
}
.Add{
    max-height: 29px;
    border-left:1px solid #e7e7e7;
    padding-left: 15px;
    background-color: ; 
    font-size: 12px;
    margin-top: 4px;   
}
#primaryStoreName_weeklyadd{
  color: black;
}
a{
  text-decoration: none;
  color: #444;
}

.Mid_header{
  height: 59px;
  background-color: ;
  display: flex;
  border-bottom: 1px solid #e7e7e7;;
}
.Staple_img{
  height: 59px;
  width: 180px;
  background-color:;
}
.logo img{
  width: 140px;
  height: 25px;
  margin-top: 17px;
}
.Section{
    margin: 3px auto;
    width: 821px;
    padding: 5px 20px;
    background-color:;
    height: 40px;
    margin-left: 139px;
    display: flex;
}
.search{
  padding-top: 8px;
  margin-left: 14px;
  margin-top: -8px;
}

#inputsize{
  height: 34px;
  font-size: 11pt;
  width: 640px;
  padding-left: 17px;
  border: 1px solid #444;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;  
}
.buttonsize{
  height: 38px;
  width: 62px;
  padding-top:5px; 
  background: #444;
  border: none;
  color: white;
  border: 1px solid #444;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: 2px;
}
.fa.fa-search{
  font-size: 15px;
  color: white;
}
.Menu_Baar{
  height: 59px;
  width: 586px;
  background-color: ;
  display: flex;
}
.Menu_Baar_Reorder{
  height: 59px;
  width: 72px;
  background-color: ;
  margin-left: 230px;
  display: block;
  border-left: 1px solid #e7e7e7;;
}
.Menu_Baar_Reorder:hover{
  background-color: #444;
  color: white;

}
.Menu_Baar_Reorder_icon{
  height: 50%;
  background-color: ;
}

.Menu_Baar_Account{
  height: 59;
  width: 72px;
  background-color:;
  border-left: 1px solid #e7e7e7;;
}
.Menu_Baar_Account:hover{
   background-color: #444;
  color: white;
}
.Menu_Baar_Connect{
 height: 59;
  width: 72px;
  background-color:; 
  border-left: 1px solid #e7e7e7;;
}
.Menu_Baar_Connect:hover{
  background-color: #444;
  color: white;
}
.Menu_Baar_Cart{
  height: 72px;
  width: 74px;
  background-color: #c00;
  border-left: 1px solid #444;
}

#Menu_Text{
  font-size: 13px;
}
#Menu_Text1{
  font-size: 13px;
  color: white;
}
.fa.fa-refresh{
  font-size: 28px;
}
.fa.fa-user-circle-o{
  font-size: 28px;
}
.fa.fa-shopping-cart{
  font-size: 28px;
  color: white;
}
.fa.fa-comments-o{
  font-size: 28px;
}
.Navigation{
  height: 46px;
  width: 100%;
  display: flex;
  background-color: red;
}
.Navigation_Product{
  width: 863px;
  background-color: green;
  margin-left: 370px;
  display: flex;
  list-style-type: none;
}
.Navigation_list{
   list-style-type: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
