.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Globleheader{
  height: 133px;
  background-color:;
  width: 100%;
}
.Header_top{
    height: 30px;
    line-height: 26px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 11px;
    display: flex;
    flex-direction: row;
    color: #444444;
    font-family: sans-serif;
    position: relative;
    bottom: 0px;
    background-color:white;
}
.Site_section{
  width:1035px;
  max-height: 29px;
  color: #444444;
  border-right: 1px solid #e7e7e7;
  background-color: ;
}
.down{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid gray;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: relative;
  bottom: 2px;
  opacity: 0.3;
}
.sites1{
    max-height: 29px;
    text-align: center;
    position:absolute; 
    left:22px; 
    bottom: 0px;
    border-right: 1px solid #e7e7e7;
    padding-right:22px;
    font-size: 12px;
}
.Employee{
   max-height: 29px;
  border-right:1px solid #e7e7e7;
  border-left:1px solid #e7e7e7;
  text-align: center;
  padding-right: 2px;
  padding-left: 8px;
  background-color:;
  width: 100px;
}
#text_employee{
  font-size: 12px;
  position:relative; 
    left:0px; 
    top:4px;
}
.Store{
   max-height: 29px;
  border-right:1px solid #e7e7e7;
  padding-right: 0px;
  padding-left: 0px;
  background-color: ;
  width: 350px;
}
#text_store{
  font-size: 12px;
  position:relative; 
    left:0px; 
    top:4px;
}
#primaryStoreName{
    font-size: 15px;
    font-family: bold;
    position:relative; 
    left:0px; 
    top:4px;
}

#primaryStoreTimings{
  font-size: 12px;
  padding-left: 24px;
  position:relative; 
    left:0px; 
    top:4px;
}
.Add{
    max-height: 29px;
    border-left:1px solid #e7e7e7;
    padding-left: 15px;
    background-color: ; 
    font-size: 12px;
    margin-top: 4px;   
}
#primaryStoreName_weeklyadd{
  color: black;
}
a{
  text-decoration: none;
  color: #444;
}

.Mid_header{
  height: 59px;
  background-color: ;
  display: flex;
  border-bottom: 1px solid #e7e7e7;;
}
.Staple_img{
  height: 59px;
  width: 180px;
  background-color:;
}
.logo img{
  width: 140px;
  height: 25px;
  margin-top: 17px;
}
.Section{
    margin: 3px auto;
    width: 821px;
    padding: 5px 20px;
    background-color:;
    height: 40px;
    margin-left: 139px;
    display: flex;
}
.search{
  padding-top: 8px;
  margin-left: 14px;
  margin-top: -8px;
}

#inputsize{
  height: 34px;
  font-size: 11pt;
  width: 640px;
  padding-left: 17px;
  border: 1px solid #444;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;  
}
.buttonsize{
  height: 38px;
  width: 62px;
  padding-top:5px; 
  background: #444;
  border: none;
  color: white;
  border: 1px solid #444;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: -38px;
  right: -361px;
}
.fa.fa-search{
  font-size: 15px;
  color: white;
}
.Menu_Baar{
  height: 59px;
  width: 586px;
  background-color: ;
  display: flex;
}
.Menu_Baar_Reorder{
  height: 59px;
  width: 72px;
  background-color: ;
  margin-left: 230px;
  display: block;
  border-left: 1px solid #e7e7e7;;
}
.Menu_Baar_Reorder:hover{
  background-color: #444;
  color: white;

}
.Menu_Baar_Reorder_icon{
  height: 50%;
  background-color: ;
}

.Menu_Baar_Account{
  height: 59;
  width: 72px;
  background-color:;
  border-left: 1px solid #e7e7e7;;
}
.Menu_Baar_Account:hover{
   background-color: #444;
  color: white;
}
.Menu_Baar_Connect{
 height: 59;
  width: 72px;
  background-color:; 
  border-left: 1px solid #e7e7e7;;
}
.Menu_Baar_Connect:hover{
  background-color: #444;
  color: white;
}
.Menu_Baar_Cart{
  height: 72px;
  width: 74px;
  background-color: #c00;
  border-left: 1px solid #444;
}

#Menu_Text{
  font-size: 13px;
}
#Menu_Text1{
  font-size: 13px;
  color: white;
}
.fa.fa-refresh{
  font-size: 28px;
}
.fa.fa-user-circle-o{
  font-size: 28px;
}
.fa.fa-shopping-cart{
  font-size: 28px;
  color: white;
}
.fa.fa-comments-o{
  font-size: 28px;
}
.Navigation{
  height: 46px;
  width: 100%;
  display: flex;
  background-color: ;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}
.Navigation_Product{
  width: 863px;
  background-color: ;
  margin-left: 370px;
  display: flex;
  list-style-type: none;
}
.Navigation_list li a{
   display: inline-block;
   list-style-type: none;
   padding: 20px;
   height: 59px;
   margin-left: 20px;
   font-size:13px; 
}
.Navigation_list li{
  float: left;
  list-style-type: none;
  font-family: sans-serif;
}
.Navigation_list{
  position: relative;
    left: -26px;
    top: -35px;
}
.Navigation_list li a:hover{
  color: #c00;
  text-decoration: underline;
}
.Big_Img{
  min-height: 264px;
  width: 100%;
  background-image: url('https://assets.staples-static.com/sbd/cre/products/home-banners/20181104/images/dg17839_c1_paper_32_1764x262.jpg');
  background-position-x:center; 
  padding: 0px;
  background-size: 1412px 264px;
  background-repeat: no-repeat;
  margin-top: 6px;
}
.Empty_Row{
   height: 13px;
  background-color:;
}
.Last_Header{
  height: 56px;
  background-color: #444444;
  width: 1412px;
  margin: auto;
  display: flex;
}
.Welcome{
  height: 36px;
  width: 300px;
  background-color:;
  float: left;
  position: relative;
  left: -4px;
  top: -9px;
  color: white;
}
.Center{
  height: 36px;
  width: 300px;
  background-color:;
  margin: auto;
  position: relative;
  left: -69px;
  top: -5px;
}
.Text1 a{
  line-height: 18px;
  font-family: bold;
  color: #fff;
  font-size: 13px;
}
.Text1:hover{
  text-decoration: underline;
}
.Sing_In{
  position: relative;
  top: 11px;
  left: -48px;
  width: 146px;
  height: 36px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color: #fff;
  color: #cc0000;
}
.Sing_In:hover{
   background-color:#cc0000;
  color: #fff; 
}
.Create{
   position: relative;
  top: 11px;
  left: -33px;
  width: 146px;
  height: 36px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background-color:#444444;
  color: white;
}
.Create:hover{
  background-color:#cc0000;
  color: #fff; 
}

.Mid_Part{  
  height: 252px;
  width: 1400px;
  margin: auto;
  background:linear-gradient(180deg,#fff 85%,#e7e7e7);
}
.Mid_Part_left{
  float: left;
  height: 242px;
  width:865px;
  margin-left: 13px; 
 background-image: url('https://assets.staples-static.com/sbd/cre/products/home-banners/20181104/images/dg17839_c2_pms_924x252.jpg');

}
.Mid_Part_left:hover{
  border: 1px solid #e7e7e7;
}
.Text2{
    font-family: bold;
    font-size: 22px;
    color: #fff;
    letter-spacing: .1px;
    padding-left: 15px;
    float:left;
    padding-top: 0px;
}
.Text3{
    color: #fff;
    font-size: 13px;
    padding-left: 47px;
    padding-block-start: 30px;
    position: relative;
    left: -363px;
    top: -13px;
}

.Shop-now{
  position: relative;
  top: 86px;
  left: -346px;
  width: 146px;
  height: 36px;
  border: 1px solid gray;
  border-radius: 3px;
  background-color:red;
  color: white;
}
.Shop-now:hover{
  background-color:#ffffff;
  color: #cc0000; 
}
.Mid_Part_Right{
    float: right;
    height: 242px;
    width: 463px;
    background-color: red;
    position: relative;
    top: 0px;
    right: 7px;
    background-image: url('https://assets.staples-static.com/sbd/cre/products/home-banners/20181021/images/dg17690_c3_weekly_ad_552x252.jpg');
    background-repeat: no-repeat;
    padding-left: 20px;
    margin-right:10px; 

}
.Mid_Part_Right:hover{
  border: 1px solid #e7e7e7;
}
.Text4{
    font-family: HelveticaNeueCondensed-Bold;
    font-size: 22px;
    color: #444;
    position: relative;
    left: -151px;
    top: -4px;
  }

.Text5{
    color: #444;
    font-size: 13px;
    position: relative;
    right: 142px;
    top: -21px;
}
.View-Weekly-Ad{
  position: relative;
  top: 53px;
  left: -150px;
  width: 146px;
  height: 36px;
  border: 1px solid #8080800a;
  border-radius: 3px;
  background-color:red;
  color: white;
}

.View-Weekly-Ad:hover{
  background-color:#ffffff;
  color: #cc0000; 
  border: 1px solid #cc0000;
}
.Popular_Categories{
  height: 50px;
  width: 1400px;
  margin:auto;
  margin-top: 10px;
  background-color:;
}
.Text6{
   float: left;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 1.85em;
    max-height: 24px;
    font-family: sans-serif;
    line-height: 1em;
    display: inline-block;
    position: relative;
    top: -23px;
}
.Popular_Categories_Items{
   height: 370px;
    margin: auto;
    width: 1400px;
    background: linear-gradient(180deg,#fff 85%,#e7e7e7);
    display: inline-block;
}
.Category-Img1{
  height: 360px;
    float:left;
    width: 25%;
    background-color:;
}
.Gallery {
    margin: 5px;
    float: left;
    width: 337px;
    height: 354px;
    background-color: #ffffff;
}
.Gallery img {
    width: 100%;
    height: auto;
}

.Desc {
    text-align: left;
    padding-left: 10px;
}
.Text7 {
  display: block;
    font-size: 13px;
    font-weight: 400;
    color: #444;
    cursor: pointer;
    margin-top: -9px;
}
.Fontsize{
  font-family: bold;
  margin-bottom: -4px;
}
.Fontsize:hover{
  text-decoration: underline;
}
.Text7:hover{
  text-decoration: underline;
}
.Gallery:hover{
  border: 2px solid #e7e7e7;
}

.View-All{
   text-decoration: underline;
  color: #444;
  height: 24px;
  display: inline-block;
  position: relative;
    top: 17px;
    left: -371px;
    font-size: 17px;
}

.Save_more_with_Staples_Brand_Products_items{
  height: 360px;
    float:left;
    width: 16.6%;
}

.Gallery1 {
    margin: 5px;
    float: left;
    width: 225px;
    height: 354px;
    background-color: #ffffff;
}
.Gallery1:hover{
  border:2px solid #e7e7e7;  
}
.Gallery1 img {
   width: 75%;
    height: auto;
    padding: 14px 16px;
    margin-left: 30px;
}

.Desc1 {
    text-align: left;
    padding-left: 10px;
}
.Text8 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #444;
    cursor: pointer;
}
.Transition{
    text-align: left;
    height: 50px;
    margin-top: -48px;
}
.Text-Transition{
  height: 44px;
  position: relative;
    top: 20px;
}
.Text9 {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: #444;
    cursor: pointer;
    font-family: sans-serif;
}

.fa.fa-star{

  color: #666;
  width: 13px;
  font-size: 10px;   
}
.fa.fa-star-half{
  color: #666;
  width: 13px;
  font-size: 10px;
}
.Text10{
  color: #444;
    font-size: .85em;
    padding-left: 12px;
    font-family: HelveticaNeueCondensed-Black;
    height: 12px;
}
.Text11{
  color: #444;
    font-size: 1.85em;
    padding-left: 12px;
    font-family: HelveticaNeueCondensed-Black;
    height: 12px;
}
.Box{
  font-size: 11px;
 line-height: 28px;
}
.Number{
  font-size: 10px;
}
.Rating{
  position: relative;
    top: -10px;
}
.Rate{
      position: relative;
    top: -22px;
}
.Text_Clr{
  color: #0e7477;
}
.Big_Img_2{
  min-height: 264px;
  width: 100%;
  background-image: url('https://assets.staples-static.com/sbd/cre/products/home-banners/20181104/images/dg17839_c4_pms_1764x300.png');
  background-position-x:center; 
  padding: 0px;
  background-size: 1412px 264px;
  background-repeat: no-repeat;
  margin-top: 10px;
}

.Footer{
  height: 600px;
  width: 100%;
  background-color: green;
}
.Footer_first{
  background-color: #444444;
  width:100%;
  height:397px;
  display: flex;
}
.Footer_first_Block_1{
  background-color:;
  height: 332px;
  width: 315px;
  margin-left: 77px;
  position: relative;
  top: 24px;
}
.Customer_Service{
  color: white;
  text-align: left;
  position: relative;
  top: -23px;
  font-size: 18px;
}
.Links{
    color: white;
    float:left;
    position: relative;
    top: -38px;
    font-size: 13px;
    display: block;
}
.Links:hover{
  text-decoration: underline;
}
.Footer_Mid{
  height: 110px;
    width: 100%;
    background: #666;
}
.Social_Media{
  height: 110px;
  width:300px;
  float: left;
  margin:10px;
}
.Download{
  height: 110px;
  width:300px;
  float: left;
  margin:40px;
  margin-top: 10px;
}
.Subscribe {
    height: 95px;
    width: 580px;
    float: right;
    margin: 10px;
    margin-right: 160px;
}
.Text_Align{
  height:20px;
  width:300px;
  margin-left: 20px;
}
.Input_Text{
  padding-top:10px;
  height:30px;
  width:300px;
}
.Subscribe1 {
    height: 50px;
    width: 530px;
    margin-left: 20px;
    margin-top: 13px;
}
#Input2 {
    height: 36px;
    font-size: 14px;
    width: 375px;
    margin-left: 2px;
    border: 1px solid #ffffff;
    padding-left: 10px;
    border-radius: 3px;
}
.Button1 {
    position: relative;
    width: 121px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #ffffff;
    color: #cc0000;
    left: 10px;
}
.Button1:hover {
  background-color:#cc0000;
  color:#ffffff;
}
.Icon {
    height: 50px;
    width: 250px;
    margin-left: 32px;
    margin-top: 6px;
}
.fa.fa-facebook {
  background: #ffffff;
  color: #666;
  font-size: 27px;
  padding:6px;
  padding-bottom: 0px;
  width: 25px;
  border: 1px solid width;
  border-radius: 2px;

}
.fa.fa-twitter {
 background: #ffffff;
  color: #666;
  font-size: 27px;
  padding:6px;
  padding-bottom:0px;
  border: 1px solid width;
  border-radius: 2px;
}
.fa.fa-pinterest {
  background: #ffffff;
  color: #666;
  font-size: 26px;
  padding:8px;
  padding-bottom: 0px;
  border-radius: 53px;
}
.fa.fa-linkedin {
  background: #ffffff;
  color: #666;
  font-size: 27px;
  padding:6px;
  padding-bottom: 0px;
  border: 1px solid width;
  border-radius: 2px;
}
.fa.fa-apple {
  background: #ffffff;
  color: #666;
  font-size: 28px;
  padding:6px;
  padding-bottom: 0px;
  border-radius: 50px;
}
.fa.fa-android {
  background: #ffffff;
  color: #666;
  font-size: 28px;
  padding:6px;
  padding-bottom: 0px;
  border-radius: 50px;
}
.Join_Us{
  color: white;
  position: relative;
    right: 60px;
    top: -14px;
}
.Download_Our_Mobile_App{
  color: white;
  position: relative;
  right: -48px;
    top: -12px;
}
.Staples_Offers{
  color: white;
  margin-left: -170px;
    margin-top: 6px;
}

.Footer_Last{
  height: 100px;
  width: 100%;
  background-color: #444444;
}
.Text15{
   color: #fff;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    
}
.Content-Last{
  margin: auto;
  width: 999px;
  height: 50px;
  position: relative;
  left: -18px;
  top: -42px;
  display: inline-block;
}
.Footer-Link{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
}
.Text20{
  color: #fff;
}
.Footer-Link:hover{
  text-decoration:underline;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
